<h3>Edit an Item</h3>
<%= form_with model: @item do |form| %>
  <%= form.text_field :name, placeholder: @item.name %>
  <%= form.text_field :price, placeholder: @item.price %>
  <%= form.submit 'update' %>
  <%= link_to 'Back', items_path %>
<% end %>